@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header1 {
    font-size: 58px;
    line-height: 1.2;
    @apply font-semibold;
  }

  .header2 {
    font-size: 23px;
    line-height: normal;
    @apply font-medium;
  }

  .body1 {
    font-size: 18px;
    line-height: normal;
    @apply font-normal;
  }

  .body2 {
    font-size: 16px;
    line-height: normal;
    @apply font-normal;
  }

  .button {
    font-size: 18px;
    line-height: normal;
    @apply font-medium rounded-lg p-3 bg-green text-white transition-colors;
  }

  .button-locked {
    @apply bg-gray cursor-not-allowed;
  }

  .textarea {
    @apply px-4 py-2 rounded-lg border border-solid shadow-ai;
    @apply body2 border-lightgray bg-white text-black placeholder:text-black/32;
    @apply focus:outline outline-1 -outline-offset-1 outline-green focus:shadow-green/10;
  }
}
